/*SCOPED*/
/*UvA.Web*/
/*uva-web-grid*/

.uva-web-grid{
& {
  display: grid;
  overflow-y: auto;
  width: 100%;
}

.header {
  background-color: white;
  border-bottom: 1px solid #E3E4E4;
  display: flex;
  padding: 5px;
  position: sticky;
  top: 0;
}

.cell {
  border-bottom: 1px solid #E3E4E4;
  padding: 2px 5px;
}

.odd {
  background-color: #F9F9FA;
}
}